In [11]:
import pandas as pd

In [12]:
%load_ext amazon_sagemaker_sql_magic

The amazon_sagemaker_sql_magic extension is already loaded. To reload it, use:
  %reload_ext amazon_sagemaker_sql_magic

In [13]:
%%sm_sql --connection-properties '{"connection_type":"ATHENA","work_group":"primary"}' --output '{"format": "DATAFRAME", "dataframe_name": "training_df"}'


-- Query to list columns in table 'AwsDataCatalog.taxi.taxi'
SELECT
  TRIP_MILES, TRIP_SECONDS, FARE, COMPANY, PAYMENT_TYPE, TIP_RATE
FROM
  "AwsDataCatalog"."taxi"."taxi"

Saved results to training_df

In [14]:
print('Read dataset completed successfully.')
print('Total number of rows: {0}\n\n'.format(len(training_df.index)))
training_df.head(200)

Read dataset completed successfully.
Total number of rows: 1000

,TRIP_MILES,TRIP_SECONDS,FARE,COMPANY,PAYMENT_TYPE,TIP_RATE
0,2.57,2341,31.99,Flash Cab,Mobile,6.3
1,1.18,1074,9.75,Flash Cab,Credit Card,27.9
2,1.29,1173,10.25,Sun Taxi,Cash,0.0
3,3.70,3360,23.75,Choice Taxi Association,Cash,0.0
4,1.15,1044,10.00,Flash Cab,Cash,0.0
...,...,...,...,...,...,...
195,1.13,821,9.00,Blue Ribbon Taxi Association,Mobile,22.9
196,0.57,414,6.00,Flash Cab,Cash,0.0
197,1.22,886,9.00,City Service,Cash,0.0
198,1.68,1219,9.00,Sun Taxi,Mobile,23.0
199,0.71,515,6.50,Sun Taxi,Credit Card,18.2