# Imports

In [2]:
import boto3

# Constants

In [3]:
BUCKET = "amazon-sagemaker-ai-by-example-working"
S3 = boto3.client("s3")
TEST_LOCAL = "../data/test.csv"
TEST_REMOTE = "data/test/test.csv"
TRAIN_LOCAL = "../data/train.csv"
TRAIN_REMOTE = "data/train/train.csv"
VALIDATION_LOCAL = "../data/validation.csv"
VALIDATION_REMOTE = "data/validation/validation.csv"

# Load

In [1]:
%load_ext amazon_sagemaker_sql_magic

In [5]:
%%sm_sql --connection-properties '{"connection_type":"ATHENA","work_group":"primary"}' --output '{"format": "DATAFRAME", "dataframe_name": "working_df"}' --apply-default-row-limit false


-- Query to list columns in table 'AwsDataCatalog.taxi.taxi'
SELECT
  FARE, TRIP_MILES, TRIP_SECONDS
FROM
  "AwsDataCatalog"."taxi"."taxi"

Saved results to working_df

# Organize

In [6]:
working_df["TRIP_MINUTES"] = working_df["TRIP_SECONDS"] / 60.0
working_df.pop("TRIP_SECONDS")
working_df["FARE"] = working_df['FARE'].astype('float32')
working_df["TRIP_MILES"] = working_df['TRIP_MILES'].astype('float32')
working_df["TRIP_MINUTES"] = working_df['TRIP_MINUTES'].astype('float32')
working_df.head()

    FARE  TRIP_MILES  TRIP_MINUTES
0  31.99        2.57     39.016666
1   9.75        1.18     17.900000
2  10.25        1.29     19.549999
3  23.75        3.70     56.000000
4  10.00        1.15     17.400000